.po-re{
  position: relative;
}

.d-inbl{
  display: inline-block;
}

.opacity-0{
  opacity: 0;
}

.opacity-1{
  opacity: 1;
}

.font-sm {
  font-size: 14px;
}


.lh-lg{
  line-height: 1.5;
}

.mx-auto{
  margin-left: auto;
  margin-right: auto;
}